<script>
$(function(){
  $('#signin-form').bootstrapValidator({
    fields: {           
      username: {
        validators: {
          stringLength: {
            min: 6,
            message: 'Your email/username must have at least 6 characters'
          },
          notEmpty: {
            message: 'Type your email/username'
          }
        }
      },
      password: {
        validators: {
          stringLength: {
            min: 6,
            message: 'Password must have at least 6 characters'
          },
          notEmpty: {
            message: 'Type your password'
          }  
        }
      }
    }
  }).on('success.form.bv', function(e) {
    e.preventDefault();
    var $form = $(e.target);
    var bv = $form.data('bootstrapValidator');
    $.post($form.attr('action'), $form.serialize(), function(result) {
      if (result.error === false) {
        window.location.href = result.url;  
      }
      else {
        bootbox.alert("<h3>" + result.message + "</h3>");
      }
    }, 'json');
  });;
});
</script>
<div id="sign-in-modal" class="modal fade" show >
  <div class="modal-dialog">
    <div class="modal-content">
      <div  class="modal-header">
        <a pjax-modal-closer="#sign-in-modal" type="button"  class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 class="modal-title">Sign-in <span class="extra-title muted"></span></h3>
      </div>
      <div class="modal-body">
          <form id="signin-form" method="POST" action="/auth/sign-in/" >
            <div class="form-group">
              <label for="username">Username/Email</label>
              <input type="text" class="form-control" id="username" placeholder="john.doe" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="*******" name="password">
            </div>
            <div class="modal-footer">
            <button href="#" class="btn btn-primary" type="submit" id="sign-in-submit">Go</button>
          </div>
          </form> 
      </div>
    </div>
  </div>
</div>
