<div class="container">
	<form action="/auth/sign-up" method="POST" role="form" class="new">
		<div class="form-group">
		<h2>Create a account </h2>
		<input type="text" placeholder="John Doe" name="name">
		<input type="text" placeholder="john@doe.com" name="email">
		<input type="password" placeholder="*********" name="password">
		<input type="submit" value="Submit" class="btn btn-default"/> 
	</form>
</div>