<form action="/account/create" method="POST" role="form" class="new">
	<div class="form-group">
	<h2>Create a account</h2>

<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>
	
	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="name" name="name">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="age" name="age">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="email" name="email">
	</div>

	</div>
	<input type="submit" value="Submit" class="btn btn-default"/> | 
	<a href="/account">Back to list</a>
</form>