<form class="show">
	<div class="form-group">
		<h2> a account... </h2>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= account.name %>" name="name" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= account.age %>" name="age" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= account.email %>" name="email" type="text" class="form-control" disabled/>
	</div>

</div>
</div>
<a href="/account/edit/<%=account.id %>" class="btn btn-default">Edit</a> |
<a href="/account">Back to list</a>
</form>