<div class="container">
	<br>
	<h3>This is your Command Line Tool key, please DO NOT SHARE IT, or make it public.</h3>
	<div class="input-group">
	<span class="input-group-addon"><i class="fa fa-lock "></i></span>
		<input type="text" readonly class="form-control input-lg" value="<%= req.user.cliKey  %>">
	</div>
	<br />
	<p> First of all, install blew-cli on your computer: </p>
	<pre>$ sudo npm install blew -g </pre>
	<br />
	<p> after blew finish installing run the code below to authenticate your terminal client.</p>
	<pre>$ blew auth -k <%= req.user.cliKey  %></pre>
			
</div> 
