<section class="content"> 
    <div class="row-fluid">
		<div class="col-xs-8 ">
			<br>
    		<h1 class="h1 font-bold"><i class="fa fa-user "></i> <%= __('Welcome %s', req.user.name) %></h1>
    		<hr>
    		<h1> What now ? </h1>
    		<p><a class="btn btn-large btn-success" href="/dashboard/cli"> <i class="fa fa-terminal "></i> Install the terminal tool </a> </p>
    	</div>
    </div>
</section> 
