<section class="content"> 
    <div class="row-fluid">
		<div class="col-xs-4 ">
			<br>
    		<h1 class="h1 font-bold"><i class="fa fa-user "></i> <%= req.user.name %></h1>
    		<hr>
			<p><i class="fa fa-code "></i> 53 </p>
			<p><i class="fa fa-user "></i> @<%= req.user.username %></p>
			<p><i class="fa fa-calendar "></i> <%= req.user.createdAt %></p>
			<p><i class="fa fa-calendar "></i> <%= req.user.updatedAt %></p>			
    	</div>
    	<div class="col-xs-8 ">
			
		</div>
    </div>
</section> 
