<!DOCTYPE html>
<html ng-app="sailng" ng-controller="AppCtrl">
  <head>
    <title>Blew</title>
    <base href="/">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/socket.io-client/dist/socket.io.min.js"></script>
    <script src="/bower_components/sails.io.js/dist/sails.io.js"></script>
    <script src="/bower_components/angular-sails/dist/angular-sails.js"></script>
    <script src="/bower_components/lodash/dist/lodash.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.js"></script>
    <script src="/bower_components/angular-translate/angular-translate.js"></script>
    <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="/bower_components/ng-table/ng-table.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/src/app/about/index.js"></script>
    <script src="/src/app/app.js"></script>
    <script src="/src/app/header/index.js"></script>
    <script src="/src/app/home/index.js"></script>
    <script src="/src/app/todos/index.js"></script>
    <script src="/src/app/users/index.js"></script>
    <script src="/src/common/directives/blink.js"></script>
    <script src="/src/common/models/Todo.js"></script>
    <script src="/src/common/models/User.js"></script>
    <script src="/src/common/models/index.js"></script>
    <script src="/src/common/services/config.js"></script>
    <script src="/src/common/services/index.js"></script>
    <script src="/src/common/services/lodash.js"></script>
    <script src="/src/common/services/title.js"></script>
    <script src="/src/common/services/utils.js"></script>
    <!--SCRIPTS END-->
    
    <!--TEMPLATES-->
    <script type="text/javascript" src="/templates.js"></script>
    <!--TEMPLATES END-->
  </body>
</html>