<div class="container">
  <h1 class="page-header">404 - Not Found!</h1>
  <h2>
  	<% if (typeof error!== 'undefined') { %>
    <%= error %>
    <% } else { %>
    The page you were trying to reach doesn't exist.
    <% } %>
  </h2>
  <p class="help">
    <a href="http://en.wikipedia.org/wiki/HTTP_404">Why</a> might this be happening?
  </p>
</div>
