<section class="content"> 
	<div class="m-b">
    	<span class="h1 font-bold"><i class="fa fa-arrow-left"></i> <%= __('welcome') %> </span> 
    </div> 
	<section class="panel panel-default"> 
		<header class="panel-heading"> Teste </header> 
    </section> 
</section> 