<section class="content"> 
    <div class="row-fluid">
		<div class="col-xs-3 ">
			
    	</div>
    	<div class="col-xs-6 ">
	    	<br><br>
	    	<br><br>
	    	 <h1> Sign-up with: </h1>

	    	 <a href="/auth/facebook" class="btn btn-large btn-primary">
	    	 	<span class="h1 font-bold"><i class="fa fa-facebook-square"></i> <%= __('Facebook') %> </span> 
	    	 </a> or

	    	 <a href="/auth/github" class="btn btn-large btn-default">
	    	 	<span class="h1 font-bold"><i class="fa fa-github"></i> <%= __('GitHub') %> </span> 
	    	 </a>

			<br><br>
			<br><br>

    	</div>
    	<div class="col-xs-3 ">
			
		</div>
    </div>
</section> 