<% var flash = req.flash() %>
<div class="container">
	<% if (flash.success) { %>
		<div class="alert alert-success" role="alert">
			<%= flash.success %>
		</div>
	<% } %>
	<% if (flash.info) { %>
		<div class="alert alert-info" role="alert">
			<%= flash.info %>
		</div>
	<% } %>
	<% if (flash.warning) { %>
		<div class="alert alert-warning" role="alert">
			<%= flash.warning %>
		</div>
	<% } %>
	<% if (flash.danger) { %>
		<div class="alert alert-danger" role="alert">
			<%= flash.danger %>
		</div>
	<% } %>
</div>