<script>
$(function(){
  $('#change-password-form').bootstrapValidator({
    fields: {           
      newPassword: {
        validators: {
          stringLength: {
            min: 6,
            message: 'Password must have at least 6 characters'
          },
          notEmpty: {
            message: 'Type a New Password'
          }
        }
      },
      confirmation: {
        validators: {
          identical: {
            field: 'newPassword',
            message: 'Passwords must be identical'
          }
        }
      }
    }
  }).on('success.form.bv', function(e) {
    e.preventDefault();
    var $form = $(e.target);
    var bv = $form.data('bootstrapValidator');
    $.post($form.attr('action'), $form.serialize(), function(result) {
      bootbox.alert("<h3>" + result.message + "</h3>", function() {
        if (result.error === false) {
          $("#change-password-modal").modal('hide');
        }
      });
    }, 'json');
  });;
});
</script>
<div id="change-password-modal" class="modal fade" show >
  <div class="modal-dialog">
    <div class="modal-content">
      <div  class="modal-header">
        <a pjax-modal-closer="#change-password-modal" type="button"  class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 class="modal-title">Change Password <span class="extra-title muted"></span></h3>

      </div>
      <div class="modal-body">
          <form id="change-password-form" method="POST" action="/me/change-password" >
            <div class="form-group">
              <label for="current-password">New Password</label>
              <input type="password" class="form-control" id="new-password" placeholder="*******" name="newPassword">
            </div>
            <div class="form-group">
              <label for="current-password">Confirmation</label>
              <input type="password" class="form-control" id="confirmation" placeholder="*******" name="confirmation">
            </div>
            <div class="modal-footer">
            <a pjax-modal-closer  type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <button href="#" class="btn btn-primary" type="submit" id="change-password-submit">Save</button>
          </div>
          </form> 
      </div>
    </div>
  </div>
</div>
